# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Sistemas
.DS_Store
Thumbs.db

# Datos y resultados locales
resultados/
*.log
~$*.xlsx

# Mantener estructura sin subir datos sensibles si se desea
# datos/**/*.xlsx
# datos/**/*.csv
